# ignore my Notes file
exercise2/Notes_on_push.md
aug/programNotes.md
05_Functions/programNotes.md
05_packages/.DS_Store
goLearning/.DS_Store
../../.DS_Store
../.DS_Store
.DS_Store
03_Constants/.DS_Store
04_ControlStatements/.DS_Store
05_packages/.DS_Store
11_interfaces/.DS_Store
